
.navbar-brand {
  font-size: 1.5em;
}

.navbar-header>li>a {
  text-decoration: none;
}
.navbar-header>li {
  list-style-type: none;
}

nav.navbar, .navbar-default {
  background-color: #337ab7;
  font-weight: bold;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
} 

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}